<li class="nav-item">
    <a class="nav-link active" href="../pages/dashboard.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">부서 별 게시판</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="../pages/tables.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-calendar-grid-58 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">익명 게시판</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="../pages/billing.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-credit-card text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">캘린더</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="../pages/virtual-reality.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-app text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">전자 결재</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="/project">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-world-2 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">프로젝트 현황</span>
    </a>
</li>
<li class="nav-item mt-3">
    <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
</li>
<li class="nav-item">
    <a class="nav-link " href="../pages/profile.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">프로필</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="../pages/sign-in.html">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-single-copy-04 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">로그인</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link " href="/user/sign-up">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-collection text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Sign Up</span>
    </a>
</li>